/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public/.sass-cache
npm-debug.log
yarn-error.log
/storage/publicaciones/*
config/database.php
.env
composer.lock
package-lock.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.ym
