<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/ 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/$1 
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L] 
</IfModule>

Options -Indexes

# Si quieres, agrega más extensiones entre los paréntesis, separadas por |
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

# Aquí especifica nombres de archivos igualmente dentro de los paréntesis, separados por |
<Files ~ "(artisan)$">
    Order allow,deny
    Deny from all
</Files>