.prueba {
    color: #ff4200 !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #ff4200 !important;
    border-radius: 0px !important;
}

/*.btn-outline-orange:hover {
    color: #fff !important;
    background-color: #ff4200 !important;
    border-color: #868e96 !important;
}*/